body{
    background-image: url(Site-Acsesaris/Nav-Pic.png);
    background-size: 100%;
    background-repeat: no-repeat;
    }

.header-icon{
    width: 3.5%;
}

.header-link-left{
    font-size: 3vw;
    font-family: Tahu;
    text-decoration: none !important;
}

.header-link-right{
    font-size: 3vw;
    font-family: Duwhoers;
    text-decoration: none !important;
    float: right;
}

.ano-nav{
    font-size: 1.6vw !important;
    margin-top: -0.5%;
    font-family: Tinos;
    padding-left: 1vw !important;
    padding-right: 1vw !important;
    padding-top: 0px !important;
}

.nav-link{
    padding-bottom: 0px !important;
    padding-top: 0px !important;
    color: blue !important;
    text-align: center;
}

.active {
    background-color: rgba(246, 85, 85, 0.7) !important;
    border-radius: 3px !important;
    border-width: 5px !important;
    margin-left: 2% !important;
    text-align: center;
    padding-left: 1vw !important;
    padding-right: 1vw !important;
  }

.nav-link.drop {
    background-color: rgba(0, 0, 0, 0) !important;
}

.dropdown-menu{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    background-color: white !important;
}

.dropdown-item{
    padding-bottom: 0px !important;
    padding-left: 10px !important;
    background-color: rgba(229, 55, 255, 0.3) !important;
}

.top{
    padding-top: 0px !important;
}

.my-form{
  height: 2vw !important;
  margin-right: 0px !important;
  background-color: transparent !important;
  float: right !important;
}

.my-search{
  height: 2.5vw  !important;
  width: 20vw !important;
  font-size: 1.8vw !important;
  margin-right: 0px !important;
  border-radius: 3px !important;
  padding-left: 0.5vw !important;
  padding-right: 0px !important;
}

.my-btn{
  height: 2.5vw !important;
  font-size: 2vw !important;
  margin-right: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 2.6vw !important;
  width: 2%  !important;
  text-align: center;
}

.card{
  width: 200px;
  margin-right: 0px !important;
}

footer{
  background-color: darkblue;
  color: aliceblue;
}

@media (max-width: 768ppx) {

}
