body{
    background-image: url(Site-Acsesaris/Nav-Pic.png);
    background-size: 100%;
    background-repeat: no-repeat;
    }

.header-icon{
    width: 3.5%;
}

.header-link-left{
    font-size: 3vw;
    font-family: Tahu;
    text-decoration: none !important;
}

.header-link-right{
    font-size: 3vw;
    font-family: Duwhoers;
    text-decoration: none !important;
    float: right;
}

.ano-nav{
    font-size: 1.6vw !important;
    margin-top: -0.5%;
    font-family: Tinos;
    padding-left: 1vw !important;
    padding-right:1vw !important;
}

.nav-link{
    padding-bottom: 0px !important;
    padding-top: 0px !important;
    color: red !important;
}

.active {
    background-color: rgba(246, 85, 85, 0.7) !important;
    border-radius: 3px !important;
    border-width: 5px !important;
}

.nav-link.drop {
    background-color: rgba(0, 0, 0, 0) !important;
}

.dropdown-menu{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    background-color: white !important;
}

.dropdown-item{
    padding-bottom: 0px !important;
    padding-left: 10px !important;
    background-color: rgba(229, 55, 255, 0.3) !important;
}

.top{
    padding-top: 0px !important;
}

.my-form{
  height: 2vw !important;
  margin-right: 0px !important;
  background-color: transparent !important;
  float: right !important;
}

.my-search{
  height: 15px !important;
  width: 15vw !important;
  font-size: 1.8vw !important;
  margin-right: 0px !important;
  border-color: red !important;
  border-radius: 3px !important;
}

.my-btn{
  height: 16px !important;
  padding-top: 2px !important;
  font-size: 1vw !important;
  margin-right: 0px !important;
  width: 30px !important;
}

footer{
  background-color: darkblue;
  color: aliceblue;
}

@media (max-width: 768ppx) {

}
